<div class="wrapper">
  <div class="flex-center-center">

    <h1 class="text-center">Login</h1>

    <div class="form-body">

      <form [formGroup]="loginForm" (ngSubmit)="onClick()">

        <mat-form-field class="input-f">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username" placeholder="Username">

          <mat-error *ngIf="username.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="input-f">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Password">
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>

        <button class="submit-btn" type="submit" mat-raised-button color="primary">Sign In</button>

      </form>

    </div>

  </div>
</div>
