<div class="wrapper">

  <h1 class="text-center">Profile</h1>

  <div class="profile-page-div">

    <div class="flex-profile-info">

      <div class="profile-img">
        <img [src]="user.imgUrl">
      </div>

      <div class="profile-infos">
        <div>
          Name: <span>{{user.name}}</span>
        </div>

        <div>
          Surname: <span>{{user.surname}}</span>
        </div>

        <div>
          Username: <span>{{user.username}}</span>
        </div>

        <div class="roles">
          Role: <span *ngFor="let role of user.roles; let isLast = last">{{role.name}} {{!isLast ? ',' : ''}}</span>
        </div>
      </div>

    </div>

  </div>

</div>
