<div class="wrapper">

  <h1 class="text-center">Book Detail</h1>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{book.name}}</mat-card-title>
      <mat-card-subtitle>Author: {{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="book.imgUrl">
    <!--        <mat-card-content>-->
    <!--          <p>-->
    <!--            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
    <!--            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
    <!--            bred for hunting.-->
    <!--          </p>-->
    <!--        </mat-card-content>-->
    <mat-card-actions>
      <button mat-flat-button color="accent" style="margin-right: 20px">LIKE</button>
      <button mat-flat-button color="primary">ADD TO CARD</button>
    </mat-card-actions>
  </mat-card>

  <div class="comments-box" style="margin-top: 100px">

    <h2 class="text-center">Comments</h2>

    <div class="comments" *ngFor="let com of comments">

        <div class="user-info">
          <div class="user-name">
            {{com.user.username}}
          </div>
          <div class="user-img">
            <img [src]="com.user.imgUrl">
          </div>
        </div>

        <div class="comment-text">
          {{com.text}}
        </div>

      <button *ngIf="com.user.username === getUsername()" class="del-btn" mat-mini-fab aria-label="Example icon button with a home icon" (click)="deleteComment(com.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>


  <div class="comment-form">
    <button (click)="showCreateFormComment()" *ngIf="!showCommentForm">Add Comment</button>

    <form [formGroup]="formComment" *ngIf="showCommentForm" (ngSubmit)="saveComment()">
      <mat-form-field class="example-full-width">
        <mat-label>Text: </mat-label>
        <textarea matInput placeholder="Text..." formControlName="text"></textarea>
      </mat-form-field>
      <button type="submit">Submit</button>
    </form>
    <button type="submit" (click)="cancel()" *ngIf="showCommentForm">Cancel</button>
  </div>

</div>
